<div class="container">
    <h3>Field Inputs and Validation</h3>
    <div>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="comicBookHero">Favorite Comic Book Superhero</label>
                        {{#custom-tooltip}}
                            <button class="btn-icon" type="button" data-toggle="tooltip" data-placement="right"  title="Favorite Comic Book Superhero is used to tailor your payroll experience."><span class="icon-info-circle"></span></button>
                        {{/custom-tooltip}}

                        <input type="text" class="form-control" id="comicBookHero" placeholder="e.g. Batman">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group {{if sideKickValid "valid" "has-error"}}">
                        <label for="heroSideKick">Favorite Comic Book Sidekick <span class="required">*</span></label>
                        {{input type="text" class="form-control" value=sideKick  placeholder="e.g. Robin" focus-out="validateSidekick" on="change"}}
                        <div class="{{if sideKickValid "valid" "carrot"}}"></div>
                        {{#unless sideKickValid}}
                          <span class="input-error">Sidekick is a required field.</span>
                        {{/unless}}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br /><br />
    <h3>Date Range Picker</h3>
    <div>
        <form>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                      {{bs-datetimepicker date=myDate format='MM/DD/YYYY'  showTodayButton=true }}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                      {{bs-datetimepicker date=myDate format='MM/DD/YYYY'  showTodayButton=true }}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <br /><br />
    <h3>Modal</h3>
    <div>
        <button type="button" class="btn btn-primary" aria-label="Left Align" {{action "toggleModal"}}>
            <span class="icon-transfer" aria-hidden="true"></span>Open Modal
        </button>
    </div>
</div>


{{#bs-modal body=false footer=false  title="Open Modal" open=showModal}}
  {{#bs-modal-body}}
      <form>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="dropdown">Dropdown</label>
                      <select class="form-control" id="u70_input" title="Dropdown">
                          <option selected="" value="Select">Select</option>
                          <option value="Do">Do</option>
                          <option value="Ray">Ray</option>
                          <option value="Mi">Mi</option>
                          <option value="Fa">Fa</option>
                          <option value="So">So</option>
                          <option value="La">La</option>
                          <option value="Ti">Ti</option>
                          <option value="Do">Do</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="selectDate">Select Date<span class="required">*</span></label>
                    {{bs-datetimepicker date=myDate format='MM/DD/YYYY'  showTodayButton=true }}
                  </div>
              </div>
          </div>
      </form>

      <div class="radio">
          <label>
              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Radio Button
          </label>
      </div>

    <table class="table table-striped paycor-table">
        <thead>
          <tr>
              <td>Date</td>
              <td>Description</td>
              <td><div class="pull-right">Actions</div></td>
          </tr>
        </thead>
        <tbody>
          {{#each model.records as |record|}}
            <tr>
                <td>
                    {{record.dateStart}} {{#if record.dateEnd}} - {{record.dateEnd}}{{/if}}
                </td>
                <td>
                  {{content-editable value=record.description placeholder="Please enter a description" type="text"}}
                </td>
                <td>
                  {{#bs-dropdown}}
                    {{#bs-dropdown-button}}<span class="icon-document"></span><span class="icon-document"></span>{{/bs-dropdown-button}}
                    {{#bs-dropdown-menu}}
                      {{#each record.actions as |recordAction|}}
                          <li>{{#link-to "index"}}{{recordAction.description}}{{/link-to}}</li>
                      {{/each}}
                    {{/bs-dropdown-menu}}
                  {{/bs-dropdown}}
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "close" target=footer) type=""}}<span class="icon-close" aria-hidden="true">Cancel</span>{{/bs-button}}
    {{#bs-button buttonType="submit" action=(action "close" target=footer) type="primary"}}<span class="icon-checkmark" aria-hidden="true"></span>Save{{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}


